.iso
    .container
        .iso__content
            .row
                .iso__content-nav.col-md-12
                    a.nav__btn.active(type='button' href='#' data-filter='*') All
                    a.nav__btn(type='button' href='#' data-filter='.catering') Catering
                    a.nav__btn(type='button' href='#' data-filter='.stories') Stories
                    a.nav__btn(type='button' href='#' data-filter='.decorate') Decorate
                    a.nav__btn(type='button' href='#' data-filter='.planning') Planning
            .row.grid
                .grid-sizer.col-sm-6.col-md-4.col-lg-4
                .col-sm-6.col-md-4.col-lg-4.catering.grid-item
                    .transform
                        .transform-position
                            .transform__img
                                .transform__img-over
                                    .over__text
                                        h4.over__text-title
                                            a.title__link(href="") Engagement
                                        p.over__text-detail Catering, Stories
                                img(src="images/portfolio/01.jpg", alt="")
                .col-sm-6.col-md-4.col-lg-4.stories.grid-item
                    .transform
                        .transform-position
                            .transform__img
                                .transform__img-over
                                    .over__text
                                        h4.over__text-title
                                            a.title__link(href="") Engagement
                                        p.over__text-detail Catering, Stories
                                img(src="images/portfolio/02.jpg", alt="")
                .col-sm-6.col-md-4.col-lg-4.decorate.grid-item
                    .transform
                        .transform-position
                            .transform__img
                                .transform__img-over
                                    .over__text
                                        h4.over__text-title
                                            a.title__link(href="") Engagement
                                        p.over__text-detail Catering, Stories
                                img(src="images/portfolio/03.jpg", alt="")
                .col-sm-6.col-md-4.col-lg-4.planning.grid-item
                    .transform
                        .transform-position
                            .transform__img
                                .transform__img-over
                                    .over__text
                                        h4.over__text-title
                                            a.title__link(href="") Engagement
                                        p.over__text-detail Catering, Stories
                                img(src="images/portfolio/04.jpg", alt="")
                .col-sm-6.col-md-4.col-lg-4.catering.grid-item
                    .transform
                        .transform-position
                            .transform__img
                                .transform__img-over
                                    .over__text
                                        h4.over__text-title
                                            a.title__link(href="") Engagement
                                        p.over__text-detail Catering, Stories
                                img(src="images/portfolio/05.jpg", alt="")
                