.blog {
    padding: 82px 0 80px 0;
    text-align: center;
    @include max-breakpoint(991) {
        padding: 45px 0 35px;
    }
    &__text {
        &-subheading {
            font-size: 16px;
            font-family: $font-hind;
            margin: 4px 0 5px 0;
            font-weight: 500;
            color: #c78665;
            letter-spacing: 0.5px;
            line-height: 20px;
        }
        &-heading {
            font-size: 40px;
            font-family: $font-cor;
            font-weight: 700;
            color: #121f38;
            line-height: 52px;
            margin-bottom: 10px;
        }
        &-detail {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            p {
                font-size: 16px;
                line-height: 26px;
                font-family: $font-hind;
                color: #818491;
                width: 52%;
                margin-bottom: 15px;
                @include max-breakpoint(991) {
                    width: 100%;
                }
            }
        }
    }
    &__slide {
        &-item {
            margin: 0 7.5px;
            box-shadow: 0 0 10px 0 rgba(18, 31, 56, .1);
            .item__img {
                position: relative;
                overflow: hidden;
                img {
                    transition: all .45s ease-in-out;
                }
                &-date {
                    height: 55px;
                    width: 55px;
                    padding: 10px 5px 7px;
                    z-index: 1;
                    color: #fff;
                    text-align: center;
                    background-color: #c78665;
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    text-transform: uppercase;
                    line-height: 19px;
                    font-size: 15px;
                }
                &:hover {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
            .item__text {
                padding: 25px;
                margin-bottom: 15px;
                &-header {
                    text-align: left;
                    .header__wrapper {
                        padding: 5px 0;
                        &-link {
                            padding-right: 23px;
                            i {
                                margin: 0 5px 0 0;
                                color: #c78665;
                                font-size: 16px;
                            }
                            .link__detail {
                                color: #121f38;
                                font-family: $font-hind;
                                font-size: 14px;
                                &:hover {
                                    color: #c78665;
                                }
                            }
                        }
                        &-user {
                            position: relative;
                            i {
                                margin: 0 5px;
                                color: #c78665;
                                font-size: 16px;
                            }
                            .user__detail {
                                color: #121f38;
                                font-family: $font-hind;
                                font-size: 14px;
                                &:hover {
                                    color: #c78665;
                                }
                            }
                            &::after {
                                position: absolute;
                                content: "";
                                left: -10px;
                                top: -2px;
                                height: 18px;
                                width: 1px;
                                background-color: #eaeaea;
                            }
                        }
                    }
                    .header__title {
                        &-heading {
                            &:hover {
                                .heading__link {
                                    color: #c78665;
                                }
                            }
                            .heading__link {
                                color: #121f38;
                                font-family: $font-cor;
                                font-size: 26px;
                                font-weight: 600;
                                line-height: 33px;
                            }
                        }
                    }
                }
                &-detail {
                    text-align: left;
                    .detail__content {
                        font-size: 15px;
                        font-family: $font-hind;
                        line-height: 26px;
                        font-weight: 400;
                        color: #818491;
                        padding-top: 13px;
                    }
                }
            }
        }
    }
}