.aboutLayder
    .container
        .wrapper
            .aboutLayder__img.row
                .aboutLayder__img-detail.col-md-4
                    .detail__content
                        .detail__content-inner
                            img(src="images/about/01.jpg", alt="")
                            .inner__over
                                .inner__over-text
                                    h4 Global Reputation
                                .inner__over-readmore
                                    h3
                                        a(href="") Read More               
                .aboutLayder__img-detail.col-md-4
                    .detail__content
                        .detail__content-inner
                            img(src="images/about/02.jpg", alt="")
                            .inner__over
                                .inner__over-text
                                    h4 Global Reputation
                                .inner__over-readmore
                                    h3
                                        a(href="") Read More
                .aboutLayder__img-detail.col-md-4
                    .detail__content
                        .detail__content-inner
                            img(src="images/about/03.jpg", alt="")
                            .inner__over
                                .inner__over-text
                                    h4 Global Reputation
                                .inner__over-readmore
                                    h3
                                        a(href="") Read More
            .aboutLayder__count.row
                .aboutLayder__count-item.col-md-3
                    h4.item__num
                        span 260
                        span +
                    h3.item__title
                        span Perfect Wedding
                .aboutLayder__count-item.col-md-3
                    h4.item__num
                        span 45
                        span +
                    h3.item__title
                        span Luxury Venues
                .aboutLayder__count-item.col-md-3
                    h4.item__num
                        span 125
                        span +
                    h3.item__title
                        span Amazig Cakes
                .aboutLayder__count-item.col-md-3
                    h4.item__num
                        span 530
                        span +
                    h3.item__title
                        span Happy Couples