include ../../mixins/about-team-item.pug
.aboutTeam
    .container
        .aboutTeam__title
            h4.aboutTeam__title-subheading Lovely Team Members
            h3.aboutTeam__title-heading Our Special Team Member
        .aboutTeam__member.owl-carousel.owl-theme
            +about-team-item("images/team/01.jpg", "Alex Sam Martin", "Wedding Planner")
            +about-team-item("images/team/02.jpg", "Emilia Harold", "Graphics Designer")
            +about-team-item("images/team/03.jpg", "Luis Em Hodge", "Wedding Stylist")
            +about-team-item("images/team/04.jpg", "Enna Jr Rozwan", "Event Manager")
            +about-team-item("images/team/05.jpg", "Grace Harper", "Event Stylist")
            
                
