.aboutServices
    .container
        .aboutServices__content.row
            .aboutServices__content-img.col-md-6
                img(src="images/about/single.png", alt="")
            .aboutServices__content-text.col-md-6
                h4.text__subheading Welcome To Our Site
                h2.text__heading We Are Sharing Everything With You Forever
                p
                    |   We offer the best food and drink service as per particular culture and taste Our Team make sure for the best 
                    a.text__link(href='#') catering arrangements
                    |   as it is the most important part any wedding ceremony in all over country! We have delivered fabulous wedding event experiences over the last two decades and are now out a whole new growth story.
                p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
                .text__inner
                    .row
                        .text__inner-icon.col-2
                            img(src="images/home/balloons.png", alt="")
                        .text__inner-text.col-10
                            h2.text__heading We Bring Quality Services
                            span Experience in corporate events, hospitality and wedding planning is certain to make your wedding memorable.
                .text__line
                .text__inner
                    .row
                        .text__inner-icon.col-2
                            img(src="images/about/love-birds.png", alt="")
                        .text__inner-text.col-10
                            h2.text__heading We Bring Quality Services
                            span Experience in corporate events, hospitality and wedding planning is certain to make your wedding memorable.
                