.aboutBanner 
    .container
        .aboutBanner__content
                .aboutBanner__content-heading
                    h1.heading__title About Us
                .aboutBanner__content-icon
                    .icon__line
                    .icon__img
                    .icon__line
                .aboutBanner__content-subtitle
                    span
                        a.home(title='Go to WedCo.' href='index.html') Home 
                        |  &gt; 
                    span About Us 
