//- xs < 576
    sm > 576 
    md > 768 
    lg > 992 
    xl > 1200
.agency
    .container
        .agency__content
            .row
                .col-lg-6
                    img(src="images/home/single.jpg", alt="", srcset="")
                .col-lg-6
                    .agency__content-detail
                        .detail__title
                            .detail__title-header
                                h4.header__subtitle Welcome To Our Wedco
                                h2.header__heading The Most Creative Agency
                            .detail__title-wrapper 
                                p We’ve delivered fabulous wedding event experiences over the last two decades and are now out a whole new growth story.
                        .detail__inner
                            .row
                                .detail__inner-icon.col-2
                                    img(src="images/home/wedding-card.png", alt="")
                                .detail__inner-text.col-10
                                    h2.text__heading We Bring Quality Services
                                    span Experience in corporate events, hospitality and wedding planning is certain to make your wedding memorable.
                        .detail__line
                        .detail__inner
                            .row
                                .detail__inner-icon.col-2
                                    img(src="images/home/balloons.png", alt="")
                                .detail__inner-text.col-10
                                    h2.text__heading Experiance & Talented
                                    span We assure a wedding that is stress-free, relaxed and with enjoyable & the way a destination wedding should be!
                        .detail__line
                        .detail__inner
                            .row
                                .detail__inner-icon.col-2
                                    img(src="images/home/wedding-invitation.png", alt="")
                                .detail__inner-text.col-10
                                    h2.text__heading Offers 24/7 Quick Support
                                    span With years of services in the event industry, Wedco is a wedding planner stands on a stronger base with.        
                    