.banner
    .banner__img.owl-carousel.owl-theme
        .banner__img-box
            img(src="images/layout/slider-main-img05.jpg", alt="")
            .box__content
                p.box__content-turn Planning
                h2.box__content-heading Wedding Management
                p.box__content-text We’ve delivered fabulous wedding event experiences over the last two
                    br 
                    |   decades and are now out a whole new growth story.
                .box__content-bot
                    .bot__line
                    a.bot__btn(href="#") Contant Us
        .banner__img-box
            img(src="images/layout/slider-main-img06.jpg", alt="")
            .box__content
                p.box__content-turn.ps Wedco
                h2.box__content-heading Wedding Planning Services 
                p.box__content-text We’ve delivered fabulous wedding event experiences over the last two 
                    br 
                    |   decades and are now out a whole new growth story.
                .box__content-bot
                    .bot__line
                    a.bot__btn(href="#") We Can Help