.blog
    .container
        .blog__text
            h4.blog__text-subheading Latest News Articles
            h2.blog__text-heading Watch Our Latest Blog
            .blog__text-detail 
                p Checkout our least blog from the most liked bloggers regarding wedding and different aspects that most helpful for others
        .blog__slide.owl-carousel.owl-theme
            .blog__slide-item
                .item__img
                    img(src="images/home/party-01.jpg", alt="")
                    .item__img-date
                        span.date__detail 30
                        |   OCT
                .item__text
                    .item__text-header
                        .header__wrapper
                            span.header__wrapper-link
                                i.fas.fa-folder-open
                                a.link__detail(href="") Home-catering
                            span.header__wrapper-user
                                i.fas.fa-user
                                a.user__detail John Doe
                        .header__title
                            h4.header__title-heading
                                a.heading__link(href="") Special Considerations for Outdoor Wedding Catering
                    .item__text-detail
                        p.detail__content The right pair of safe hands and the peace of mind delivered by your event We’ve de...
            .blog__slide-item
                .item__img
                    img(src="images/home/party-02.jpg", alt="")
                    .item__img-date
                        span.date__detail 30
                        |   OCT
                .item__text
                    .item__text-header
                        .header__wrapper
                            span.header__wrapper-link
                                i.fas.fa-folder-open
                                a.link__detail(href="") Home-catering
                            span.header__wrapper-user
                                i.fas.fa-user
                                a.user__detail John Doe
                        .header__title
                            h4.header__title-heading
                                a.heading__link(href="") Special Considerations for Outdoor Wedding Catering
                    .item__text-detail
                        p.detail__content The right pair of safe hands and the peace of mind delivered by your event We’ve de...
            .blog__slide-item
                .item__img
                    img(src="images/home/party-03.jpg", alt="")
                    .item__img-date
                        span.date__detail 30
                        |   OCT
                .item__text
                    .item__text-header
                        .header__wrapper
                            span.header__wrapper-link
                                i.fas.fa-folder-open
                                a.link__detail(href="") Home-catering
                            span.header__wrapper-user
                                i.fas.fa-user
                                a.user__detail John Doe
                        .header__title
                            h4.header__title-heading
                                a.heading__link(href="") Special Considerations for Outdoor Wedding Catering
                    .item__text-detail
                        p.detail__content The right pair of safe hands and the peace of mind delivered by your event We’ve de...
            .blog__slide-item
                .item__img
                    img(src="images/home/party-04.jpg", alt="")
                    .item__img-date
                        span.date__detail 30
                        |   OCT
                .item__text
                    .item__text-header
                        .header__wrapper
                            span.header__wrapper-link
                                i.fas.fa-folder-open
                                a.link__detail(href="") Home-catering
                            span.header__wrapper-user
                                i.fas.fa-user
                                a.user__detail John Doe
                        .header__title
                            h4.header__title-heading
                                a.heading__link(href="") Special Considerations for Outdoor Wedding Catering
                    .item__text-detail
                        p.detail__content The right pair of safe hands and the peace of mind delivered by your event We’ve de...
            .blog__slide-item
                .item__img
                    img(src="images/home/party-05.jpg", alt="")
                    .item__img-date
                        span.date__detail 30
                        |   OCT
                .item__text
                    .item__text-header
                        .header__wrapper
                            span.header__wrapper-link
                                i.fas.fa-folder-open
                                a.link__detail(href="") Home-catering
                            span.header__wrapper-user
                                i.fas.fa-user
                                a.user__detail John Doe
                        .header__title
                            h4.header__title-heading
                                a.heading__link(href="") Special Considerations for Outdoor Wedding Catering
                    .item__text-detail
                        p.detail__content The right pair of safe hands and the peace of mind delivered by your event We’ve de...
            .blog__slide-item
                .item__img
                    img(src="images/home/party-06.jpg", alt="")
                    .item__img-date
                        span.date__detail 30
                        |   OCT
                .item__text
                    .item__text-header
                        .header__wrapper
                            span.header__wrapper-link
                                i.fas.fa-folder-open
                                a.link__detail(href="") Home-catering
                            span.header__wrapper-user
                                i.fas.fa-user
                                a.user__detail John Doe
                        .header__title
                            h4.header__title-heading
                                a.heading__link(href="") Special Considerations for Outdoor Wedding Catering
                    .item__text-detail
                        p.detail__content The right pair of safe hands and the peace of mind delivered by your event We’ve de...