.egencySecond
    .container
        .egencySecond__content
            .row
                .col-lg-6
                    .egencySecond__content-statistical
                        .statistical__text
                            h4.statistical__text-subheading Why Choose Us
                            h2.statistical__text-heading The Most Creatives Agency
                            p We are creative for flawless execution, WedCo takes pride in being the most preferred event management companies all over the world since,1995!
                            p
                                | We&rsquo;ve delivered fabulous wedding event experiences over the last two decades and are now 
                                u
                                    a.tm-skincolor(href='#') poised to chart
                                |  out a whole new growth story. We have hosted the most great reputed company ever!. We make our best to make your event memorable and Unforgettable

                        .statistical__line
                            .line__detail
                                span Decoration
                                span 85%
                            .line__slide1
                                span
                        .statistical__line
                            .line__detail
                                span Planing
                                span 80%
                            .line__slide2
                                span
                        .statistical__line
                            .line__detail
                                span Catering
                                span 92%
                            .line__slide3
                                span
                        .statistical__line
                            .line__detail
                                span Management
                                span 80%
                            .line__slide4
                                span
                .col-lg-6
                    .egencySecond__content-img
                        img(src="images/home/single-02.jpg", alt="", srcset="")
                        .img__text
                            h2.img__text-heading Do You Need Our Help ?
                            .img__text-icon 
                                a.icon__link(href="")
                                    i.fal.fa-chevron-right

                    