.feedback
    .feedback__bg
        .container
            .feedback__content
                .feedback__content-text
                    h4.text__subtitle Beautiful Client Thoughts
                    h2.text__title What Our Client Feedback
                .feedback__content-slide.owl-carousel.owl-theme
                    .slide__item
                        .slide__item-img
                            span.img__detail
                                img(src="images/home/review-01.jpg", alt="")
                        .slide__item-text
                            i.fas.fa-quote-left
                            p.text__content Thank you wedco for helping me give my daughter the wedding of her dreams. You guys did a fantastic job of turning our thoughts into reality!!
                            .text__footer
                                h3.text__footer-name Elina Christopher
                                span.text__footer-sub Beauty Bride
                    
                    .slide__item
                        .slide__item-img
                            span.img__detail
                                img(src="images/home/review-02.jpg", alt="")
                        .slide__item-text
                            i.fas.fa-quote-left
                            p.text__content Thank you wedco for helping me give my daughter the wedding of her dreams. You guys did a fantastic job of turning our thoughts into reality!!
                            .text__footer
                                h3.text__footer-name Elina Christopher
                                span.text__footer-sub Beauty Bride
                    
                    .slide__item
                        .slide__item-img
                            span.img__detail
                                img(src="images/home/review-03.jpg", alt="")
                        .slide__item-text
                            i.fas.fa-quote-left
                            p.text__content Thank you wedco for helping me give my daughter the wedding of her dreams. You guys did a fantastic job of turning our thoughts into reality!!
                            .text__footer
                                h3.text__footer-name Elina Christopher
                                span.text__footer-sub Beauty Bride
                    
                    .slide__item
                        .slide__item-img
                            span.img__detail
                                img(src="images/home/review-04.jpg", alt="")
                        .slide__item-text
                            i.fas.fa-quote-left
                            p.text__content Thank you wedco for helping me give my daughter the wedding of her dreams. You guys did a fantastic job of turning our thoughts into reality!!
                            .text__footer
                                h3.text__footer-name Elina Christopher
                                span.text__footer-sub Beauty Bride