.memorie
    .container
        .memorie__text
            h4.memorie__text-subheading Wedding Gallery
            h2.memorie__text-heading Your Forever Memories
            .memorie__text-detail 
                p We are an artist to create the best memories for our clients and couples of their fairy tale best wedding saga forever.
        .memorie__fancy
            .row
                .col-lg-6
                    .memorie__fancy-img
                        .img__over
                            a.img__over-search(href="images/home/gallery-ten.jpg" data-fancybox="gallery")
                                i.fal.fa-search
                        img(src="images/home/gallery-ten.jpg", alt="")
                .col-lg-3
                    .memorie__fancy-img
                        .img__over
                            a.img__over-search(href="images/home/gallery-ten.jpg" data-fancybox="gallery")
                                i.fal.fa-search
                        img(src="images/home/gallery-02.jpg", alt="")
                .col-lg-3
                    .memorie__fancy-img
                        .img__over
                            a.img__over-search(href="images/home/gallery-ten.jpg" data-fancybox="gallery")
                                i.fal.fa-search
                        img(src="images/home/gallery-03.jpg", alt="")
                .col-lg-3
                    .memorie__fancy-img
                        .img__over
                            a.img__over-search(href="images/home/gallery-ten.jpg" data-fancybox="gallery")
                                i.fal.fa-search
                        img(src="images/home/gallery-04.jpg", alt="")
                .col-lg-3
                    .memorie__fancy-img
                        .img__over
                            a.img__over-search(href="images/home/gallery-ten.jpg" data-fancybox="gallery")
                                i.fal.fa-search
                        img(src="images/home/gallery-05.jpg", alt="")
                .col-lg-6
                    .memorie__fancy-img
                        .img__over
                            a.img__over-search(href="images/home/gallery-ten.jpg" data-fancybox="gallery")
                                i.fal.fa-search
                        img(src="images/home/gallery-06.jpg", alt="")