include ../../mixins/service-item.pug
.service
    .container
        .service__title
            .service__title-top 
                h4.top__subheading Our Wedding Services
                h2.top__heading We Provide The Best Services
            .service__title-detail 
                p.detail__text Our efforts will help to have a better approach to the planning phase, help build a better vision to make it entertaining & memorable
        .service__modal
            .row
                .col-md-4.col-sm-6.magin-bot
                    +service-item("images/home/camera.png", "Photography & video", "Apart from the best ever professional photographer we’re artists, to beautify amazing memories from events!")
                .col-md-4.col-sm-6.magin-bot
                    +service-item("images/home/wedding-rings.png", "Wedding Registry", "Receive the your wedding gifts are you want from your friends and relatives including cash gifts. Add products")
                .col-md-4.col-sm-6.magin-bot
                    +service-item("images/home/wedding-couple.png", "Wedding Ceremony", "Every wedding has a story to tell. It can be chosen based on your heritage & culture, on your life story!")
                .col-md-4.col-sm-6.magin-bot
                    +service-item("images/home/wine.png", "Seating Chart", "There are so many aspects to take it and look into consideration. We know would worry how our guests be treated!")
                .col-md-4.col-sm-6.magin-bot
                    +service-item("images/home/church.png", "Vendor Manager", "A complete wedding service, including strong focus on vendor selection and management on board hassle free!")
                .col-md-4.col-sm-6.magin-bot
                    +service-item("images/home/romantic-dinner.png", "The Perfect Cake", "Food and drinks are very important and integral parts of our Indian weddings. Provide would be able to cater")

                    
                    