.upComing
    .container
        .upComing__content
            .upComing__content-title
                .title__heading
                    h4.title__heading-sub Upcoming Weddings
                    h2.title__heading-logo Featured Weddings Plans
                .title__text
                    p
                        | It&rsquo;s no secret that a wedding is the most expensive party most people will ever throw. Wedco will you might want to opt for something edible, like a box of sweets. 
                        a.tm-skincolor(href='http://wedco.themetechmount.net/our-events/') View more
            .upComing__content-slide.owl-carousel.owl-theme
                .slide__item
                    .slide__item-over
                        .over__cover
                            .link
                                a.over__cover-sreach(href="images/home/post-01.jpg" data-fancybox="gallery")
                                    i.fal.fa-search
                                a.over__cover-share(href="#")
                                    i.fal.fa-random
                        .over__img
                            img(src="images/home/post-01.jpg", alt="")
                    .slide__item-text
                        .text__header   
                            .text__header-location Decorate, Stories11
                            .text__header-date 22 Jul 2020
                        .text__bot
                            a.text__bot-link(href="#") Bride & Groom
                .slide__item
                    .slide__item-over
                        .over__cover
                            .link
                                a.over__cover-sreach(href="images/home/post-02.jpg" data-fancybox="gallery")
                                    i.fal.fa-search
                                a.over__cover-share(href="#")
                                    i.fal.fa-random
                        .over__img
                            img(src="images/home/post-02.jpg", alt="")
                    .slide__item-text
                        .text__header   
                            .text__header-location Decorate, Stories
                            .text__header-date 22 Jul 2020
                        .text__bot
                            a.text__bot-link(href="#") Bride & Groom
                .slide__item
                    .slide__item-over
                        .over__cover
                            .link
                                a.over__cover-sreach(href="images/home/post-03.jpg" data-fancybox="gallery")
                                    i.fal.fa-search
                                a.over__cover-share(href="#" )
                                    i.fal.fa-random
                        .over__img
                            img(src="images/home/post-03.jpg", alt="")
                    .slide__item-text
                        .text__header   
                            .text__header-location Decorate, Stories
                            .text__header-date 22 Jul 2020
                        .text__bot
                            a.text__bot-link(href="#") Bride & Groom
                .slide__item
                    .slide__item-over
                        .over__cover
                            .link
                                a.over__cover-sreach(href="images/home/post-04.jpg" data-fancybox="gallery")
                                    i.fal.fa-search
                                a.over__cover-share(href="#")
                                    i.fal.fa-random
                        .over__img
                            img(src="images/home/post-04.jpg", alt="")
                    .slide__item-text
                        .text__header   
                            .text__header-location Decorate, Stories
                            .text__header-date 22 Jul 2020
                        .text__bot
                            a.text__bot-link(href="#") Bride & Groom
                .slide__item
                    iframe(src='https://www.youtube.com/embed/PMiKu0UTAp4' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                    .slide__item-text
                        .text__header   
                            .text__header-location Decorate, Stories
                            .text__header-date 22 Jul 2020
                        .text__bot
                            a.text__bot-link(href="#") Bride & Groom



                            