.video
    .video__img
    .video__text
        .container
            .video__text-detail
                .detail__icon
                    a.detail__icon-play(href="")
                        i.far.fa-play
                p.detail__subheading WE ARE GETTING MARRIAGE
                h2.detail__heading Save The date October 16th, 2020
                p.detail__contact Get Your Quote or Call: (0095) 123-456-789
                .detail__btn
                    a.detail__btn-link(href="#") View Details
