.attend
    .container
        .attend__content.row
            .attend__content-introduce.col-lg-5
                .introduce__header
                    .introduce__header-content
                        h4.content__subtitle Wedding Attend
                        h2.content__heading It’s Your Turn
                    .introduce__header-title
                        p.title__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .introduce__contact
                    .introduce__contact-detail
                        .detail__icon
                            i.fal.fa-map-marker-alt
                        .detail__text
                            h2.detail__text-heading Location
                            p.detail__text-title 4578 Beverly Rd
                                br
                                |   Brooklyn NewYork
                    .introduce__contact-detail
                        .detail__icon
                            i.fal.fa-copy
                        .detail__text
                            h2.detail__text-heading Call Or Email
                            p.detail__text-title + (123) 456 7890
                                br
                                |   info@wedding.com
                    .introduce__contact-detail
                        .detail__icon
                            i.fal.fa-briefcase
                        .detail__text
                            h2.detail__text-heading Office Hours
                            p.detail__text-title Mon – Sat: 9.00am to 7.00pm
                                br
                                |   Sunday: Closed
            .attend__content-form.col-lg-7
                .row.form__center
                    .center__title.col-lg-10 
                        h4.center__title-heading Do You Have Any Questions?
                    .col-md-6
                        input.form__center-text(type="text" name="name" placeholder="Your Name*")
                    .col-md-6
                        input.form__center-text(type="email" name="email" placeholder="Your Email*")
                    .col-md-6
                        input.form__center-text(type="number" name="phone" placeholder="Phone")
                    .col-md-6
                        input.form__center-text(type="text" placeholder="Your Event")
                    .col-md-12
                        input.form__center-text(type="text" placeholder="Subject")
                    .col-md-12
                        textarea.form__center-text(name="")
                    .col-md-12
                        input.form__center-btn(type="submit", value="Send Message")
                           
