.contact 
    .container
        .contact__content
                .contact__content-heading
                    h1.heading__title Contact Us
                .contact__content-icon
                    .icon__line
                    .icon__img
                    .icon__line
                .contact__content-subtitle
                    span
                        a.home(title='Go to WedCo.' href='index.html') Home 
                        |  &gt; 
                    span Contact Us
