.address
    .container
        .address__content
            .row.address__content-box
                .col-lg-4.box__block
                    h4.box__block-heading Address One
                    p.box__block-text 4578 Heverly Rd Crooklyn New York 12345 United States.
                    .box__block-line
                    .box__block-map
                        p.map__text
                            a.map__text-link(href="") View On Google Map
                
                .col-lg-4.box__block.bg-c78665
                    h4.box__block-heading.c-w Address Two
                    p.box__block-text.c-w 4578 Heverly Rd Crooklyn New York 12345 United States.
                    .box__block-line.c-border
                    .box__block-map
                        p.map__text
                            a.map__text-link.c-w(href="") View On Google Map
                
                .col-lg-4.box__block
                    h4.box__block-heading Email & Office Hours
                    p.box__block-text Mon – Sat: 9.00am to 7.00pm
                        br
                        |   Sunday: Closed
                    .box__block-line
                    .box__block-map
                        p.map__text
                            a.map__text-link(href="") wedco@wedding.com