extends master.pug

block content
   include ./components/About/about-banner.pug
   include ./components/About/about-services.pug
   include ./components/About/about-layder.pug
   include ./components/About/about-team.pug