extends master.pug

block content
   include ./components/Home/banner.pug
   include ./components/Home/agency.pug
   include ./components/Home/services.pug
   include ./components/Home/upcoming.pug
   include ./components/Home/video.pug
   include ./components/Home/egency-second.pug
   include ./components/Home/feedback.pug
   include ./components/Home/memorie.pug
   include ./components/Home/blog.pug

