.footer
    .footer__top
        .container
            .footer__top-content
                .content__img
                    img(src="images/layout/logo-dark.png", alt="")
                .content__box.row
                    .content__box-text.col-md-4
                        h2.text__heading Office Address
                        p.text__detail Evanto HQ 24 Fifth st., Los Angeles, USA
                    .content__box-text.col-md-4
                        h2.text__heading Talk To Expert
                        p.text__detail (+01) 123 456 7890
                    .content__box-text.col-md-4
                        h2.text__heading Email Us
                        p.text__detail info@yourdomain.com
                form.content__form(action="")
                    .content__form-input
                        i.fal.fa-envelope
                        input.input__email(type='email' name='EMAIL' placeholder='Your Email Address..' required='')
                        input.input__submit(type='submit' value='Submit')                      
    .footer__bot
        .container.marginAuto
            .row.footer__bot-area
                .area__widget.col-xs-12.col-sm-6.col-md-3.col-lg-4
                    h3.area__widget-heading About WedCo
                    .area__widget-text
                        p.text__detail We’ve delivered fabulous wedding event experiences over the last two decades and are now poised to chart out a whole new growth story. We hosted for reputed company
                    .area__widget-icon
                        a.icon__link(href="")
                            i.fab.fa-facebook-f
                        a.icon__link(href="")
                            i.fab.fa-twitter
                        a.icon__link(href="")
                            i.fab.fa-flickr
                        a.icon__link(href="")
                            i.fab.fa-linkedin-in
                .area__widget.col-xs-12.col-sm-6.col-md-3.col-lg-2
                    h3.area__widget-heading Our Services
                    .area__widget-link
                        ul.link__list
                            li.link__list-item
                                i.fal.fa-chevron-right
                                a.item__link(href="") User Strategy
                            li.link__list-item
                                i.fal.fa-chevron-right
                                a.item__link(href="") Product Designing
                            li.link__list-item
                                i.fal.fa-chevron-right
                                a.item__link(href="") Marketing Strategy
                            li.link__list-item
                                i.fal.fa-chevron-right
                                a.item__link(href="") IT Consultancy
                            li.link__list-item
                                i.fal.fa-chevron-right
                                a.item__link(href="") Server Security
                .area__widget.col-xs-12.col-sm-6.col-md-3.col-lg-3
                    h3.area__widget-heading Wedding Planner Faqs
                    .area__widget-link
                        ul.link__list
                            li.link__list-item
                                i.fal.fa-chevron-right
                                a.item__link(href="") Why hire a planner ?
                            li.link__list-item
                                i.fal.fa-chevron-right
                                a.item__link(href="") How can i make an appointment ?
                            li.link__list-item
                                i.fal.fa-chevron-right
                                a.item__link(href="") How to choose a venue ?
                            li.link__list-item
                                i.fal.fa-chevron-right
                                a.item__link(href="") Event catalogue ?
                            li.link__list-item
                                i.fal.fa-chevron-right
                                a.item__link(href="") Pyment type you accept
                .area__widget.col-xs-12.col-sm-6.col-md-3.col-lg-3
                    h3.area__widget-heading Instagram Gallery
    .footer__copyright
        |   Copyright &copy; 2020. All rights reserved by 
        a.footer__copyright-link(href='http://themetechmount.com/') Themetechmount