.header
  .header__top
    .header__top-nav
      .nav__site
        .container
          .flex.d-flex.justify-content-between.align-items-center 
            .nav__site-logo
              a.logo__link.d-flex.align-items-center(href="")
                img.logo__link-img.white__logo(src="images/layout/logo.png", alt="")
                img.logo__link-img.dark__logo(src="images/layout/logo-dark.png", alt="")
            .nav__site-menu.d-flex.justify-content-between.align-items-center 
              .menu__pc 
                ul.menu__pc-list
                  li.list__item
                    a.list__item-link(href="index.html") Home
                    ul.sub__menu
                  li.list__item
                    a.list__item-link(href="about.html") About
                    ul.sub__menu
                  li.list__item
                    a.list__item-link(href="portfolio.html") Portfolio
                    ul.sub__menu
                  li.list__item
                    a.list__item-link(href="blog.html") Block
                    ul.sub__menu
                  li.list__item
                    a.list__item-link(href="contact.html") Contact Us
                    ul.sub__menu
              .menu__icon
                .menu__icon-search
                  a.search__click(href="#")
                    i.fas.fa-search
                  .search__overlay
                    form(action="" method="")
                      .search__overlay-form
                        .form__row
                          .form__row-input
                            input.input__field(type="text" placeholder="Type Word Then Enter..")
                            button(type="submit")
                              span.input__icon
                                i.fas.fa-search
              a.menu__toggle
                i.fal.fa-bars
              .menu__mobile
                ul.menu__mobile-list
                  li.list__item
                    a.list__item-link(href="index.html") Home
                    ul.sub__menu
                  li.list__item
                    a.list__item-link(href="about.html") About
                    ul.sub__menu
                  li.list__item
                    a.list__item-link(href="portfolio.html") Portfolio
                    ul.sub__menu
                  li.list__item
                    a.list__item-link(href="blog.html") Block
                    ul.sub__menu
                  li.list__item
                    a.list__item-link(href="contact.html") Contact Us
                    ul.sub__menu
                
